$svg-sprite: (
{{#svg}}
	{{#selector}}{{name}}{{/selector}}: (
		background-position: {{position}},
		width: {{width}}px,
		height: {{height}}px,
		background-image: url({{{sprite}}})
	){{^last}},{{/last}}
{{/svg}}

);

@mixin use-svg($label) {
	width: map-get(map-get($svg-sprite, $label), 'width');
	height: map-get(map-get($svg-sprite, $label), 'height');


	// @see: https://github.com/Compass/compass/issues/685#issuecomment-29205790
	// shorthand selecotr to server Android 2.x with PNG fallback
	background: url(../img/sprite.png) map-get(map-get($svg-sprite, $label), 'background-position') no-repeat;
    background: map-get(map-get($svg-sprite, $label), 'background-image') map-get(map-get($svg-sprite, $label), 'background-position') / auto auto no-repeat;
}
