@media print {

	h1, h2, h3, h4, h5, h6,
	ul, ol, p, pre,
	.card-header	{
		color: #000 !important;
	}

	.navbar-dark,
	.navbar {
		display: none;
	}

	.container {
		width: 100% !important;
	}


	pre {
		border: 0;
	}

	ul, ol {
		padding-left: 40px;
	}

	.card-header {
		display: block !important
	}

	[data-toggle="collapse"] {
		display: none;
	}


	.collapse {
		display: block !important;
	}


	.custom-control-input {
		opacity: 1;
		left: 0;
		z-index: 1;
		top: .2em;
	}

	.custom-control-indicator {
		display: none;
	}

}


